@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base */

@layer base {
  :root {
    /* --mainhover: #1e40af; * blue, text-blue-800 */
    /* --mainhover: orange; */
    --mainhover: #008d73;
  }
}

/* TW Apply */

.link-main-hover {
  @apply hover:text-[color:var(--mainhover)];
}

.btn-regular:hover {
  @apply bg-sky-400;
}

.btn-warning:hover {
  @apply bg-red-500;
}

.btn-nobg {
  @apply cursor-pointer px-4 py-2 font-semibold text-sm text-white rounded shadow-sm;
}

.btn-regular {
  @apply cursor-pointer px-4 py-2 font-semibold text-sm bg-sky-500 text-white rounded shadow-sm;
}

.btn-warning {
  @apply cursor-pointer px-4 py-2 font-semibold text-sm bg-red-600 text-white rounded shadow-sm;
}

/* My Custom CSS */

.menu [data-active="true"] {
  @apply active-item;
}

.active-item:hover {
  border-bottom: 4px solid var(--mainhover);
}

span.active-item:hover {
  border-bottom: 4px solid black;
}

.active-item {
  font-weight: 700;
  padding-bottom: 10px;
  border-bottom: 4px solid black;
}

html,
body,
#__next,
.mobile,
.wide {
  height: 100%;
}

/* From template */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background: rgba(0, 0, 0, 0.05);
}

input,
textarea {
  font-size: 16px;
}

button {
  cursor: pointer;
}
